/* CSS Variables */
:root {
    --primary-font: 'arial', sans-serif;
    --white-color: #ffffff;
    --gray-color: #f3f0f0;

}

/* Global Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--gray-color);
    font-size: 1rem;
    line-height: 1.6;

}

.nav-link,
a {
    color: unset;
    text-decoration: unset;
}

.home-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../assets/images/home-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* header: start */
.badge-bell {
    top: 35% !important;
    left: 33% !important;
    padding: .3rem;
}

.badge-cart {
    top: 55% !important;
    left: 50% !important;
}

.country-flag-icon {
    max-width: calc(1.375rem + 1.5vw) !important;
    width: 100%;
    height: auto;
}

.dropdown-toggle::after {
    content: unset;
}

/* header: end */


.main-bg-frame {
    background: url('../assets/images/bg-frame.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* navtabs: start */
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: unset;
    border: unset;
    box-shadow: unset;
    font-weight: bold;
    color: var(--white-color);
}

/* navtabs: start */


.quick-view-overlay {
    opacity: 0;
}

.product-card:is(:hover) .quick-view-overlay {
    opacity: 1;
    animation: quickview-overlay .5s ease-in-out;
}


@keyframes quickview-overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.profile-badge {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 20%;
}

@media (max-width: 768px) {
    .profile-badge {
        position: unset;
        transform: unset;
        top: unset;
        left: unset;
    }

}

.spinner {
    background: url('../assets/images/spinner-bg.png') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
}