/* CSS Variables */
:root {
    --primary-font: 'arial', sans-serif;
    --white-color: #ffffff;
    --color-gray: #f3f0f0;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--color-gray);
    font-size: 1rem;
    line-height: 1.6;

}

.nav-link,
a {
    color: unset;
    text-decoration: unset;
}

/* header: start */
.badge-bell {
    top: 25% !important;
    left: 35% !important;
}

/* header: end */