/* CSS Variables */
:root {
    --primary-font: 'arial', sans-serif;
    --white-color: #ffffff;
    --color-gray: #f3f0f0;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--color-gray);
    font-size: 1rem;
    line-height: 1.6;

}

.nav-link,
a {
    color: unset;
    text-decoration: unset;
}

.homepage-wrapper {
    height: 100dvh;
}


/* header: start */
.badge-bell {
    top: 35% !important;
    left: 33% !important;
    padding: .3rem;
}

.badge-cart {
    top: 55% !important;
    left: 50% !important;
}

.country-flag-icon {
    max-width: calc(1.375rem + 1.5vw) !important;
    width: 100%;
    height: auto;
}

/* header: end */